@model GameStore.Data.Data.Account.Accounts
@{
    ViewData["Title"] = "Złóż zamówienie";
}

<body style="background-image: url('/lib/materialize/register.jpg'); background-size: cover">
    <div class="container" style="margin-top: 95px;">
        <div class="row">
            <div class="col s12 m6 offset-m3" style="margin-top: 60px; margin-bottom: 60px;">
                <div class="card-panel z-depth-5">
                    <div class="row">
                        <div class="col s12">
                            <h4>Złóż zamówienie</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <form method="post" asp-controller="Cart" asp-action="Order">
                                <div class="row" style="height:50px;">
                                    <div class="col s12">
                                        <h5>Podaj dane</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label asp-for="FirstName" class="control-label font-weight-bold"></label>
                                        <input asp-for="FirstName" class="form-control" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label asp-for="LastName" class="control-label font-weight-bold"></label>
                                        <input asp-for="LastName" class="form-control" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label asp-for="Email" class="control-label font-weight-bold"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label asp-for="PhoneNumber" class="control-label font-weight-bold"></label>
                                        <input asp-for="PhoneNumber" class="form-control" />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 center">
                                        @{
                                            var UserId = ViewBag.UserId;
                                        }
                                        <button type="submit" class="btn waves-effect waves-light">Zamów</button>
                                        <a href="javascript:history.back()" class="waves-effect waves-light btn">Wróć</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col s6">
                            <form method="post" asp-controller="Cart" asp-action="OrderByLogin">
                                <div class="row" style="height:50px;">
                                    <div class="col s12">
                                        <h5>Zaloguj się</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label for="userName" class="control-label font-weight-bold">Nazwa użytkownika</label>
                                        <input name="userName" id="userName" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label for="password" class="control-label font-weight-bold">Hasło</label>
                                        <input name="password" id="password" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 center">
                                        <button type="submit" class="btn waves-effect waves-light">Zaloguj</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!--col-->
        </div><!--row-->
    </div><!--container-->
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
