@model GameStore.Data.Data.CMS.Page

@{
    ViewData["Title"] = "Create";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="align-items-center justify-content-between mb-4">
        <h1>Strona - dodaj nowy</h1>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TitleLink" class="control-label font-weight-bold"></label>
                        <input asp-for="TitleLink" class="form-control" />
                        <span asp-validation-for="TitleLink" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label font-weight-bold"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label asp-for="Content" class="control-label font-weight-bold"></label>
                        <input asp-for="Content" class="form-control" />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label asp-for="Position" class="control-label font-weight-bold"></label>
                        <input asp-for="Position" class="form-control" />
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark"><i class="bi bi-plus-lg"></i></button> |
                        <a asp-action="Index" class="btn btn-dark"><i class="bi bi-arrow-left"></i></a>
                    </div>
                </form>
            </div>
        </div>

        <div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
