@model GameStore.Data.Data.CMS.FooterDetails

@{
    ViewData["Title"] = "Details";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="align-items-center justify-content-between mb-4">
        <h1>Stopka opis - szczegóły</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 my-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10 my-2">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2 my-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10 my-2">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>
<hr/>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFooterDetail" class="btn btn-dark"><i class="bi bi-pencil"></i></a> |
    <a asp-action="Index" class="btn btn-dark"><i class="bi bi-arrow-left"></i></a>
</div>
    </div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
